
// *****************Fonts***********************
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
  font-family: 'Conv_Aller_Bd';
  src: url('../fonts/Aller_Bd.eot');
  src: url('../fonts/Aller_Bd.woff') format('woff'), url('../fonts/Aller_Bd.ttf') format('truetype'), url('../fonts/Aller_Bd.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Aller_BdIt';
  src: url('../fonts/Aller_BdIt.eot');
  src: url('../fonts/Aller_BdIt.woff') format('woff'), url('../fonts/Aller_BdIt.ttf') format('truetype'), url('../fonts/Aller_BdIt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Aller_It';
  src: url('../fonts/Aller_It.eot');
  src: url('../fonts/Aller_It.woff') format('woff'), url('../fonts/Aller_It.ttf') format('truetype'), url('../fonts/Aller_It.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Aller_Lt';
  src: url('../fonts/Aller_Lt.eot');
  src: url('../fonts/Aller_Lt.woff') format('woff'), url('../fonts/Aller_Lt.ttf') format('truetype'), url('../fonts/Aller_Lt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Aller_LtIt';
  src: url('../fonts/Aller_LtIt.eot');
  src: url('../fonts/Aller_LtIt.woff') format('woff'), url('../fonts/Aller_LtIt.ttf') format('truetype'), url('../fonts/Aller_LtIt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Aller_Rg';
  src: url('../fonts/Aller_Rg.eot');
  src: url('../fonts/Aller_Rg.woff') format('woff'), url('../fonts/Aller_Rg.ttf') format('truetype'), url('../fonts/Aller_Rg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_AllerDisplay';
  src: url('../fonts/AllerDisplay.eot');
  src: url('../fonts/AllerDisplay.woff') format('woff'), url('../fonts/AllerDisplay.ttf') format('truetype'), url('../fonts/AllerDisplay.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~mdbootstrap/scss/mdb';
//@import '~jquery-unslider/dist/sass/unslider';
//@import '~jquery-unslider/dist/sass/unslider-dots';

//******************************
//*******=====MENU======********
//******************************
*, html{
  font-family: 'Conv_Aller_Rg';
}

header{
  background-color: $gray !important;
  z-index: 999999999999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .appEmpreenda{
    background-image: url('../images/app.png');
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    position: fixed;
    top: 40%;
    display: block;
    width: 248px;
    height: 92px;
    z-index: 1;
    right: -153px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    a{
      &:first-child{
        img{
          width: 25px;
          position: absolute;
          bottom: 6px;
        }

      }
      &:last-child{
        img{
          width: 25px;
          position: absolute;
          bottom: 6px;
          right: 60px;
        }
      }
    }
    &:hover{
      right: 0;
      transition: all 0.5s linear;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
    }
  }
  .containerMenu{
    background-image: url(../images/bgmenu.png);
    background-repeat: no-repeat;
    background-position: right;
    .navbar-brand{
      padding-top: 0;
      width: 260px;
      @media(width: 320px){
        width: 220px;
      }
    }
    .navbar{
      background-color: transparent!important;
      box-shadow: none;
      padding-top: 0;
      .dropdown-menu{
        margin-top: -23px;
        background-color: $gray;
        a{
          border-right: none!important;
        }
      }
      .navbar-collapse{
        margin-bottom: -30px;
        &.show{
          margin-bottom: 10px;
        }
        @media(max-width: 767px){
          margin-bottom: 0;
        }
        .navbar-nav{
          li{
            padding-top: 30px;
            &.logoE{
              text-align: right;
              padding-top: 0;
              img{
                width: 70%;
              }
            }
            &:last-of-type{
              a{
                border-right: none;
              }
            }
            a{
              background-color: transparent!important;
              color: $white!important;
              border-right: 1px solid $white;
              padding-top: 0;
              padding-bottom: 0;
              font-weight: 500;
              font-size: 12px;
              &:hover{
                color: $black!important;
              }
              &:active{
                background-color: transparent!important;
              }
            }
          }
        }
      }
    }
    .navbar-laravel {
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    }
    .btnAssine{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e49e39+0,e49e39+5,d05c21+100 */
      background: #e49e39; /* Old browsers */
      background: -moz-linear-gradient(top, #e49e39 0%, #e49e39 5%, #d05c21 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #e49e39 0%,#e49e39 5%,#d05c21 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #e49e39 0%,#e49e39 5%,#d05c21 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e49e39', endColorstr='#d05c21',GradientType=0 ); /* IE6-9 */

      padding: 5px 17px;
      border-radius: 10px;
      color: #fff;
      border: 2px solid $dark-orange;
      //position: relative;
      //top: 25px;
      cursor: pointer;

      -webkit-box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.34);
      -moz-box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.34);
      box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.34);

      position: absolute;
      z-index: 99999999;
      top: 11px;

      @media (width: 1024px) {
        display: block!important;
      }

      @media(min-width: 768px) and (max-width: 1024px){
        left: 380px;
      }
      @media (max-width: 767px) {
        display: none;
      }

      &.btnAssineMobile{
        position: initial;
        @media(min-width: 768px) and (max-width: 1023px){
          padding: 0px 17px;
        }
      }
    }
    .btnApp{
      width: 33%;
      @media(min-width: 767px){
        display: none;
      }
    }
    .ulredes{
      margin-bottom: 0;
      padding-top: 10px;
      li{
        background-color: $dark-orange;
        padding-left: 6px;
        padding-right: 1px;
        border-radius: 5px;
        a{
          color: $white;
        }
      }
    }
  }
}

#modalContato{
  z-index: 999999999999999999999999999999999999999999;
  .modal-header{
    background-color: $dark-orange;
    padding-top: 5px;
    padding-bottom: 5px;
    h4{
      color: $white;
    }
    .close{
      span{
        color: $white;
      }
    }
  }
  .modal-body{
    margin-bottom: 0;
    .rowTels{
      .md-form{
        margin-top: 0;
        margin-bottom: 0;
        input{
          margin-bottom: 8px;
        }
      }
    }
    i{
      color: $dark-orange!important;
    }
  }

  .btnEnviar{
    button{
      background-color: $dark-orange;
    }
  }
}


//******************************
//******=====FOOTER======*******
//******************************

.rowFooter{
  background-color: $dark-orange;
  .rowLogoFooter{
    margin-top: 40px;
    .logoFooter{
      p{
        margin-top: 8px;
        font-size: 16px;
        color: #000;
        text-align: justify;
        text-shadow: none;
      }
    }
    .blockInfoFooter{
      ul{
        li{
          a{
            color: $dark-blue;
            font-size: 18px;
          }
        }
      }
    }
    .redesSociais{
      ul{
        li{
          background-color: $dark-blue;
          padding: 3px 1px 3px 8px;
          border-radius: 7px;
          i{
            font-size: 35px;
            color: $white;
          }
        }
      }
      p{
        font-size: 16px;
        color: $black;
        text-shadow: none;
      }
    }
  }
  .rowNewsletter{
    //padding-top: 65px;
    @media(max-width: 767px){
      margin-top: 20px;
    }
    .input-group-prepend{
      border: none!important;
      .input-group-text{
        background-color: $white;
        border: none!important;
      }
      span{
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
      }
    }
    input{
      border: none;
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
    }
  }
}
.rowCopyright{
  background-color: $dark-orange;
  padding-top: 15px;
  p{
    color: $black;
    font-size: 13px;
    text-shadow: none;
    a{
      img{
        width: 110px;
      }
    }
  }
}

//********************************
//*******=====CONTEÚDO======******
//********************************

//*****Carousel*****

.sectionHome{
  background-color: #fff;
}

section{
  padding-bottom: 80px;
  .carousel{
    .carousel-indicators{
      li{
        width: 3.625rem!important;
        border-radius: 21%!important;
        background-color: rgba(246,224,157,0.5)!important;
        &.active{
          background-color: rgba(246,224,157, 1)!important;
        }
      }
    }
  }

  //********TÍTULO - PÁGINAS*********
  .rowTitle{
    text-align: center;
    h1{
      margin-top: 85px;
      margin-bottom: 50px;
      font-weight: 600;
      color: $dark-orange;
    }
  }

  //HOME***

  //LINHA DO TEMPO REVISTAS
  .wrapper{
    max-width: 100%;
    .stage{
      width: 100%;
      .carousel-stage{
        height: auto;
        border-color: transparent;
        box-shadow: none;
        .rowBoxRevistas{
          background-color: $light-gray;
          .areaDestaques{
            background-color: $white;
          }
        }
        ul{
          li{
            .imgLinhaTempo{
              background-color: $light-gray;
              img{
                transform: rotate(3deg);
                margin: 20px;
                -webkit-box-shadow: -9px 7px 5px 0px rgba(0,0,0,0.21);
                -moz-box-shadow: -9px 7px 5px 0px rgba(0,0,0,0.21);
                box-shadow: -9px 7px 5px 0px rgba(0,0,0,0.21);
                @media (max-width: 767px) {
                  width: 80%;
                }
                @media (width: 320px) {
                  width: 70%;
                }
              }
            }
            .textLinhaTempo{
              margin-top: 50px;
              @media(max-width: 767px){
                padding-right: 45px;
              }
              h2{
                text-align: left;
                @media(max-width: 768px){
                  padding-left: 12px;
                  padding-right: 20px;
                }
                span{
                  color: $dark-orange;
                  text-transform: uppercase;
                  font-weight: 600;
                }
              }
              p{
                text-align: justify;
                @media(max-width: 768px){
                  padding-left: 12px;
                  padding-right: 30px;
                }
              }
              .btnLeia{
                color: $dark-orange;
                font-weight: 700;
              }
            }
            .areaDestaques{
              .tituloDestaques{
                color: $dark-orange;
                text-align: left;
                font-size: 25px;
                font-weight: 700;
              }
              h2{
                text-transform: uppercase;
              }
              ul{
                width: 100%!important;
                margin-top: 20px;
                li{
                  border-bottom: 2px solid $dark-orange;
                  padding-right: 23px;
                  margin-bottom: 10px;
                  h2{
                    text-align: left;
                    color: $dark-orange;
                    font-size: 20px;
                    margin-bottom: 0;
                  }
                  p{
                    text-align: justify;
                    margin-bottom: 7px;
                  }
                }

              }
            }
          }
        }
      }
    }
    .rowOutrasEdicoes{
      h2{
        color: $dark-orange;
        font-weight: 700;
      }
    }
    .navigation{
      width: 100%!important;
      margin: 0;
      .prev-navigation, .next-navigation{
        top: 28px;
        background-color: transparent;
        box-shadow: none;
        color: $dark-orange;
        font-size: 40px;
      }
      .carousel-navigation{
        width: 100%;
        background: $white!important;
        box-shadow: none;
        border: 10px solid transparent;
        height: auto;
        ul{
          .linhaProgresso{
            position: absolute;
            height: 3px;
            background-color: #c51f40;
            top: 34px;
            content: '';
            display: block;
            z-index: -1;
            width: 100%;
          }
          li{
            background: transparent;
            padding: 5px 50px;
            z-index: 9;
            position: relative;
            &.active{
              img{
                display: block;
                margin: 0 auto;
                transform: rotate(3deg);
              }
              span{
                &.barrinhaLaranja{
                  display: block;
                }
                &.bolinhaLaranja{
                  width: 22px;
                  height: 22px;
                  border: 5px solid #d97a2c;
                }
              }
            }
            img{
              border: none;
              height: auto;
              display: none;
              margin: 0 auto;
            }

            span{
              &.bolinhaLaranja{
                width: 16px;
                height: 16px;
                background-color: #fff;
                display: block;
                border-radius: 20px;
                border: 3px solid $dark-orange;
                margin: 0 auto;
              }
              &.barrinhaLaranja{
                width: 1px;
                height: 10px;
                display: none;
                background-color: $dark-orange;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }

  .rowTitleNot{
    h1{
      color: #5c5c5c;
      font-weight: 500;
      font-size: 30px;
      strong{
        color: #313131;
      }
    }
  }
  .rowNoticiasEmp{
    margin-bottom: 10px;
    ul{
      padding-top: 10px;
      margin-bottom: 10px;
      border-bottom: none!important;
      li{
        background-color: $dark-orange;
        border-radius: 30px;
        margin-left: 5px;
        margin-right: 5px;
        &:hover{
          background-color: $gray;
        }
        .nav-link{
          color: $white!important;
          padding: 7px 22px;
          background-color: transparent!important;
          border: none!important;
          &.active{
            background-color: $gray!important;
          }
          &:hover{
            border-bottom: none!important;
          }
        }
      }
    }
  }
  .abaNoticias{
    h2{
      font-size: 25px;
      color: $dark-blue;
      font-weight: 700;
      margin-top: 20px;
      font-style: italic;
    }
    p{
      font-size: 25px;
      color: $dark-blue;
      font-style: italic;
      text-align: justify;
    }
    .divImgEvento{
      position: relative;
      height: 140px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      img{
        position: absolute;
        width: auto;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .rowAllNoticias{
      .blockTitleNoticia{
        border-left: 11px solid $dark-orange;
        padding-left: 10px;
        h2{
          color: $dark-orange;
          font-size: 20px;
          font-weight: 700;
          font-style: italic;
          text-align: justify;
        }
        p{
          color: $dark-blue;
          font-size: 15px;
          font-style: italic;
          text-align: justify;
        }
      }
    }
  }
  .rowPropaganda{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .rowVideosCanal{
    .divIframeVideo{
      @media(max-width: 767px){
        margin-bottom: 15px;
      }
    }
  }
  .rowAssinaturas{
    .chamadaAssinaturas{
      padding-top: 20px;
      h2{
        font-weight: 700;
        text-align: center;
      }
      h4{
        font-weight: bold;
        color: green;
        font-size: 16px;
      }
      h5{
        color: $red;
        font-size: 14px;
      }
      h6{
        font-size: 21px;
      }
      p{
        text-align: center;
        span{
          color: $red;
          font-weight: 700;
        }
      }
    }
  }

  //SOBRE***
  &.blocoSobre{
    //background-color: #ffc56e;
    background-color: #f1f1f1;
    padding-bottom: 50px;
    .rowSobre{
      h2{
        font-size: 25px!important;
        text-align: left!important;
      }
      p{
        text-align: justify;
      }
      .imgSobre{
        text-align: center;
      }
    }

  }

  //EVENTOS***
  .boxEventos{
    .btnSaiba{
      color: $dark-orange;
    }
  }
  .boxEventoDestaque{
    .btnComprar{
      background-color: $dark-orange;
      padding: 10px 15px;
      color: $white;
      border-radius: 7px;
    }
    .dark-grey-text{
      margin-bottom: 15px!important;
    }
    .single-news{
      img{
        margin: 0 auto;
      }
    }
  }
  .rowGaleria{
    h2{
      color: $dark-orange;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .boxGaleria{
      position: relative;
      height: 233px;
      overflow: hidden;
      margin-bottom: 15px;
      -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.27);
      -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.27);
      box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.27);
      border-radius: 10px;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  //ASSINATURA***
  &.sectionAssinaturas{
    background-color: #eaeaea!important;
    .cardAssinatura{
      box-shadow: none;
      background-color: transparent;
      input, textarea{
        border-bottom-color: $dark-orange!important;
      }
      select{
        background-color: transparent;
        border: 1px solid #d97a2c;
      }
      .tabsPagamentos{
        ul{
          li{
            i{
              font-size: 35px;
            }
            &:first-child{
              a{
                border-top-left-radius: 10px;
              }
            }
            &:last-child{
              a{
                border-top-right-radius: 10px;
              }
            }
            a{
              background-color: $light-orange;
              color: white;
              &.active{
                background-color: $dark-orange;
              }
            }
          }
        }
        .card{
          background-color: transparent;
          box-shadow: none;
          margin-top: 20px;
        }
      }
      #assinantes{
        button{
          background-color: $dark-orange!important;
          &.btnPolitica{
            background-color: transparent!important;
            text-align: left!important;
            color: $black!important;
            box-shadow: none!important;
            padding-left: 0!important;
            text-decoration: underline;
          }
        }
      }
    }

    #payment_methods{
      img{
        margin-bottom: 5px;
      }
    }

    .img-black-and-white{
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  //NAO ENCONTRADO
  .naoEncontrado{
    h2{
      margin-top: 40%;
    }
  }

  //REVISTAS
  .rowTodasRevistas{
    h2{
      text-align: center;
      a{
        color: $black;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
  //FIQUE POR DENTRO
  .rowPagNoticias{
    .imgNotDestaque, .imgNoticia{
      height: 487px;
      @media(max-width: 767px){
        height: 230px;
      }
      width: 100%;
      overflow: hidden;
      text-align: center;
      &:hover{
        img{
          -webkit-transform:scale(1.3); /* prefixo para browsers webkit */
          -moz-transform:scale(1.3); /* prefixo para browsers gecko */
          -o-transform:scale(1.3); /* prefixo para opera */
          transform:scale(1.3);
          transition: all 0.3s linear;
        }
      }
      img{
        width: 100%;
      }
      .blockTitleNoticia{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 15px;
        margin-right: 15px;
        background: rgba(0,0,0,0.5);
        h2{
          text-shadow: none;
          color: $white;
          font-size: 16px;
          font-weight: 700;
          text-align: justify;
          margin: 16px;
        }
      }
    }
    .imgNoticia{
      height: 230px;
    }
    .imgNot{
      height: 230px;
      width: 100%;
      overflow: hidden;
      text-align: center;
      &:hover{
        img{
          -webkit-transform:scale(1.3); /* prefixo para browsers webkit */
          -moz-transform:scale(1.3); /* prefixo para browsers gecko */
          -o-transform:scale(1.3); /* prefixo para opera */
          transform:scale(1.3);
          transition: all 0.3s linear;
        }
      }
      img{
        width: 100%;

      }
      .blockTitleNoticia{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 15px;
        margin-right: 15px;
        background: rgba(0,0,0,0.5);
        h2{
          text-shadow: none;
          color: $white;
          font-size: 16px;
          font-weight: 700;
          text-align: justify;
          margin: 16px;
        }
      }
    }
  }

  //FIQUE POR DENTRO - Interna
  .rowSocial{
    .socialList{
      ul{
        li{
          background-color: $dark-orange;
          border-radius: 30px;
          @media(width: 320px){
            margin-right: 1px;
          }
          &:first-child{
            background-color: transparent;
          }
          a{
            color: #fff;
            width: 40px;
            height: 40px;
            padding-top: 8px;
            display: inline-block;
            text-align: center;
          }
        }
      }
    }
  }

  .rowNotInterna{
    img{
      -webkit-box-shadow: -6px 7px 23px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: -6px 7px 23px -5px rgba(0,0,0,0.75);
      box-shadow: -6px 7px 23px -5px rgba(0,0,0,0.75);
    }
  }
}

//CLASSES UTEIS
.mb-30{
  margin-bottom: 30px;
}

//MODAL POLÍTICA
#modalPolitica{
  .modal-body{
    p{
      strong{
        font-weight: 800;
      }
      span{
        background-color: yellow;
        &.bgred{
          background-color: transparent;
          color: red;
          font-weight: 800;
        }
      }
    }
  }
}

//MODAL EDIÇÃO
.modalEdicao{
  z-index: 9999999999999999999999999999999999;
  .modal-header{
    background-color: $dark-orange;
    color: $white;
    button{
      span{
        color: #fff;
        font-size: 30px;
      }
    }
  }
}

//PREV E NEXT REVISTA
.setasRevistasMobile{
  top: 162px!important;
  background-color: $dark-orange!important;
  border-radius: initial!important;
  text-indent: 8px !important;
  font-size: 47px !important;
  padding-bottom: 40px;
  z-index: 99999;
}

//MODAL REVISTAS
#modalRevistas{
  z-index: 9999999999999999999999999999999999;
  .modal-header{
    background-color: $dark-orange;
    color: $white;
    button{
      span{
        color: #fff;
        font-size: 30px;
      }
    }
  }
}